Twice daily PPI therapy can be tried to control extra-esophageal symptoms of GERD .
HAE can be used to successfully control bleeding secondary to hepatic arterial rupture .
JBluIce-EPICS control system for macromolecular crystallography .
Normally , T-regulatory ( Treg ) -cells control the immune response .
AphA and LuxR / HapR reciprocally control quorum sensing in vibrios .
" Mask up " to control infectious diseases .
The extracellular matrix molecule Reelin is known to control neuronal migration during development .
In this study we investigated factors that control IL-25 production in the gut .
Each first dose failed to control seizures in 24 and 13 episodes , respectively .
pRb and p16 control the cell cycle as tumor suppressors .
In HIV-positive individuals , complex multifactorial mechanisms control viral infection .
miRNAs control insulin content in pancreatic beta-cells via downregulation of transcriptional repressors .
Olivocochlear efferent control in sound localization and experience-dependent learning .
A cost-benefit analysis of scaling up tuberculosis control in India .
Bio-inspired design strategies for central pattern generator control in modular robotics .
The vaccines were well tolerated but did not control HBV infection .
Control charts and control limits .
Mechanics , modulation and modelling : how muscles actuate and control movement .
Referral strategies were compared using generalized estimating equations to control for effect of hospital .
Matching techniques are used to control for the non-experimental nature of the data .
A multiple logistic regression model was used to control for confounders .
Gun control .
Nutritional supplements and their effect on glucose control .
Development of an implantable myoelectric sensor for advanced prosthesis control .
We can n't control the future , but we can plan for it .
Conservative methods to control the hemorrhage failed , and tonsillectomy was carried out .
Astrocytes also control microcirculation and provide metabolic support for neurons .
Parents employed various techniques to control and monitor their children 's sexual activities .
Microparticles can be loaded with immune regulatory substances to control and terminate inflammatory processes .
Killing cariogenic bacteria is an effective way to control or prevent tooth decay .
